:root {
    --gray-background: #343a40;
    --blue-background: #b8daff;
}

.headerContainer {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: #343a40;
    color: white;
    /* padding: 10px; */
}

.bigNav {
    overflow: hidden;
}

#myTopnav {
    justify-content: center !important;
}

.bigNav .icon {
    display: none;
    color: var(--blue-background);
}

/* styling for nav button associated with current route */
#activeDash, #activePast, #activeCreate {
    border-bottom: 5px solid var(--blue-background) !important;
    background-color: #9ca9b6;
}

#activeDash:hover, #activePast:hover, #activeCreate:hover {
    background-color: #9ca9b6;
}

.modalText {
    color: white !important;
}

span {
    color: white;
}

@media screen and (max-width: 992px) {
    #activeDash, #activePast, #activeCreate {
        border-bottom: none !important;
        border-left: 5px solid var(--blue-background) !important;
    }
}

@media screen and (max-width: 600px) {
    /* Animated hamburger menu stuff */ 
    .menu {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
        /* max-height: 25px;
        max-width: 25; */
    }
    .line {
        fill: none;
        stroke: var(--blue-background);
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }
    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
    }
    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }
    .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }
    .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
    }
    .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }
      

    /* Hamburger menu styling */
    .bigNav .navBtn {
        display: none;
    }

    .bigNav a.icon {
        position: relative;
        left: 90%;
        display: block !important;
        padding-bottom: 10px;
    }

    .bigNav.responsive {
        position: relative;
    }
    
    .bigNav.responsive .navBtn {
        float: none;
        display: block;
        text-align: left;
    }

    .bigNav.responsive {
        padding-bottom: 1.5rem;
    }
}