.late-result {
    background-color: rgba(185, 34, 34, 0.568);
    border:solid 3px rgba(228, 15, 15, 0.781);
}

/* .future-results {
    background-color: rgb(230, 231, 231);
    border: solid 2px rgb(163, 161, 161);
    } */