.late-result {
    background-color: rgba(219, 81, 81, 0.925) !important;
    border:solid 5px rgba(97, 97, 97, 0.781) !important;
}

/* .future-results {
    background-color: rgb(230, 231, 231);
    border: solid 2px rgb(163, 161, 161);
    } */