:root {
    --gray-background: #dedede;
    --blue-background: #b8daff;
}

body {
    background-color: var(--blue-background);
}

/* Header styling */
.headerContainer {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: #343a40;
    color: white;
    /* padding: 10px; */
}

.bigNav {
    overflow: hidden;
}

.bigNav .icon {
    display: none;
    color: var(--blue-background);
}

/* Main content of page */
.createFormContainer {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.createForm {
    justify-content: center;
    width: 22.5rem;
    padding: 1.5rem;
    background-color: white;
    border: 2px solid #555c63;
    border-radius: 15px;
}

#createAccount {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 10px;
}

a {
    color: #827ECC;
    font-weight: 500;
}

a:hover {
    color: #827ECC;
}

label {
    font-weight: 500;
}

input {
    border-radius: 8px !important;
}

.checkboxContainer {
    margin-bottom: 10px;
    /* background-color: white; */
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid #ced4da;
}

#accountTypeHeader {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.formControlContainer {
    padding: 10px;
    padding-bottom: 20px;
    padding-left: 0;
}

.customFormControl {
    padding-left: 0 !important;
}

.btnContainer {
    display: flex;
}

.customBtn {
    background-color: #827ECC;
    color: white;
    /* border: 2px solid #b5b5b5; */
    border-radius: 8px;
    margin-right: auto;
    margin-left: auto;
}

.customBtn:hover {
    background-color: #363199;
    color: white;
    
}

@media screen and (max-width: 600px) {
    /* Animated hamburger menu stuff */ 
    .menu {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
        /* max-height: 25px;
        max-width: 25; */
    }
    .line {
    fill: none;
    stroke: var(--blue-background);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
    }
    .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
    }
    .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
    }
    .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
    }
    .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
    }
    .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
    }
      

    /* Hamburger menu styling */
    .bigNav .navBtn {display: none;}
    .bigNav a.icon {
        float: right !important;
        display: block !important;
        padding-bottom: 10px;
    }

    .bigNav.responsive {position: relative;}
    .bigNav.responsive a.icon {
        
        
    }
    
    .bigNav.responsive .navBtn {
        float: none;
        display: block;
        text-align: left;
    }

    .bigNav.responsive {
        padding-bottom: 1.5rem;
    }


    h2 {
        font-size: 1.5rem !important;
    }

    .createFormContainer {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
