.userInfoContainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: white;
    border: 2px solid #555c63;
    border-radius: 15px;
}

