.Search {
  padding-top: 10px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: flex;
}
.SearchBtn {
  width: 20%;
  border: 3px solid #343a40 !important;
  background: #6c757d !important;
  border-radius: 0 5px 5px 0 !important;

  text-align: center;
  color: #fff !important;
  font-size: 20px !important;
}
.SearchInput {
  width: 80%;
  border: 3px solid #343a40;
  border-right: none;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important ;
  padding: 5px;
  outline: none;
}