:root {
    --gray-background: #343a40;
    --blue-background: #b8daff;
}

.headerDiv {
    background-color: var(--gray-background);
    color: white;
    padding: 3rem;
    border-bottom: 3px solid black;
}

.headerDiv h1 {
    font-size: 3rem !important;
    text-align: center;
}

.errorDiv {
    padding: 3rem;
    background-color: white;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    border-radius: 15px;
    border: 2px solid var(--gray-background);
}

.errorDiv h1, h2 {
    color: var(--gray-background);
    text-align: center;
}

.btnWrapper {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

.backBtn {
    background-color: #827ECC !important;
    color: white !important;
}

@media screen and (max-width: 600px) {
    .headerDiv h1 {
        font-size: 1.5rem !important;
    }

    .errorDiv {
        padding: 1rem;
        width: 70%;
        margin-top: 30%;
    }

    h1 {
        font-size: 1.25rem !important;
    }

    h2 {
        font-size: 1rem !important;
    }

    .backBtn {
        font-size: .75rem !important;
    }
}