.resultConfirm {
  background-color: rgb(141, 241, 141) !important;
  border: solid 5px rgb(36, 92, 36) !important;
}

.no-result-yet {
 background-color: rgb(250, 241, 162) !important;
 border: solid 5px rgb(214, 193, 72) !important;
}