:root {
    --gray-background: #dedede;
    --blue-background: #b8daff;
}

body {
    background-color: var(--blue-background);
}

/* Header styling */
.jumbo {
    padding: 2rem;
    text-align: center;
    background-color: var(--gray-background);
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

/* Main content of page */
.loginFormContainer {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.loginForm {
    justify-content: center;
    width: 22.5rem;
    padding: 1.5rem;
    background-color: white;
    border: 2px solid #555c63;
    border-radius: 15px;
}

#createAccount {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 10px;
}

a {
    color: #827ECC;
    font-weight: 500;
}

a:hover {
    color: #827ECC;
}

label {
    font-weight: 500;
}

input {
    border-radius: 8px !important;
}

.checkboxContainer {
    margin-bottom: 10px;
    /* background-color: white; */
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid #ced4da;
}

#accountTypeHeader {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.formControlContainer {
    padding: 10px;
    padding-bottom: 20px;
}

.customFormControl {
    max-width: 80%;
}

.btnContainer {
    display: flex;
}

.customBtn {
    background-color: #827ECC;
    color: white;
    /* border: 2px solid #b5b5b5; */
    border-radius: 8px;
    margin-right: auto;
    margin-left: auto;
}

.customBtn:hover {
    background-color: #363199;
    color: white;
    
}

@media screen and (max-width: 600px) {
    h2 {
        font-size: 1.5rem !important;
    }

    .loginFormContainer {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
