#inspectionInfoContainer {
    justify-content: center;
    background-color: white;
    margin-bottom: 50px;
}
 
body {
    background-color: rgb(147, 168, 236);
}
 
#permitInfoContainer {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 30px;
}